{{!-- Citation for the following function:--}}
{{!-- Date: 5/23/2023 --}}
{{!-- Adapted from: nodejs-starter app on github step 3: Integrating a Templating Engine (handelbars)--}}
{{!-- https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%203%20-%20Integrating%20a%20Templating%20Engine%20(Handlebars)} --}}

{{!-- Citation for the following function:--}}
{{!-- Date: 5/23/2023 --}}
{{!-- Adapted from: nodejs-starter app on github step 4: Dynamically Displaying Data--}}
{{!-- https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%204%20-%20Dynamically%20Displaying%20Data)} --}}

{{!-- Citation for the following function:--}}
{{!-- Date: 5/23/2023 --}}
{{!-- Adapted from: git hub nodejs starter code step 5: Adding New Data--}}
{{!--https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%205%20-%20Adding%20New%20Data}} --}}

{{!-- Citation for the following function:--}}
{{!-- Date: 5/10/2023 --}}
{{!-- Adapted from: nodejs-starter-app Step 6: Dynamically FIlling Dropdowns and Adding a Search Bar--}}
{{!-- https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%204%20-%20Dynamically%20Displaying%20Data --}}

{{!-- <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name="robots" content="noindex, noarchieve, nofollow">
    <title>TOFU| Majors</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='./css/style.css'>
    <script src='main.js'></script>
</head>
  <body onload="browseDepartments()">
    <header>
        <h1>The Online Fake University</h1>
    </header>
    <nav>
        <a href="/">Home</a>
        <a href="/students">Students</a>
        <a href="/professors">Professors</a>
        <a href="/enrollmentdetails">Enrollment Details</a> 
        <a href="/classes">Classes</a>
        <a href="/departments">Departments</a>
        <a href="/terms">Terms</a>
        <a href="/majors">Majors</a> 
        <a href="/termclassdetails">Term Class Details</a>
    </nav> --}}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<main>
    <section>
        <article>
            <h2>Departments</h2>
            <table id = "departments-table">
                <thead>
                    <tr>
                        <th>Department ID</th>
                        <th>Department Name</th>
                    </tr>
                </thead>

                <tbody>

                    {{#each data}}
                    <tr>
                        <td>{{this.deptID}}</td>
                        <td>{{this.deptName}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>

        </article>
        <article>
            

{{!-- Citation for the following function:--}}
{{!-- Date: 6/11/23 --}}
{{!-- Adapted from: stackoverflow: Change text from "submit" on input tag--}}
{{!--change text on submit button on pages to accuragely refelct function of click)}}
{{!--https://stackoverflow.com/questions/14007613/change-text-from-submit-on-input-tag}} --}}

{{!-- Form to add a record to the table  --}}
            <h2>Add a Department</h2>
            <p>To add a new department, please enter the information below and click 'Add Department'</p>
            <form id="add-department-form-ajax">
                <label for="input-deptName">Department Name: </label>
                <input type="text" name="input-deptName" id="input-deptName" placeholder="Department Name">

                <input type="submit" value = "Add Department">
            </form>

            {{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
            <script src="./js/add_department.js"></script>

        </article>
    </section>
</main>




