<main>
    <section>
        <article>
            <h2>Welcome to The Online Fake University!</h2>

             <p>The Online Fake University (TOFU) is an online university that serves 10,000 Students across the world!</p>

            <p>We offer a variety of classes and majors throughout 10 different departments of study.</p>   
            </article>
    </section>
</main>
 
